# Compiled python files
*.pyc

# MacOS Files
.DS_Store

# Built Webpack App
/static/*
/api/aws_config.txt
/adapt-web/webpack-stats.json

# Database
db.sqlite3
/*/migrations/*
!/*/migrations/__init__.py
