@use "sass:color";

$font-family-sans-serif:            Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-family-monospace:             'Overpass Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$dark:                              #000D54;
$primary:                           #45E2EA;
$secondary:                         #3C67DD;
$info:                              #DEE2E6;
$success:                           #005C3D;
$danger:                            #9C0041;
// $danger:                            #A3001E;

$link-color:                        $secondary;
$link-hover-color:                  rgba($secondary, .6);

$navbar-light-color:                rgba($dark, .7);
$navbar-light-hover-color:          rgba($dark, .6);
$navbar-light-active-color:         rgba($dark, .9);
$navbar-light-disabled-color:       rgba($dark, .3);

$body-color:                        $dark;
$list-group-color:                  rgba($dark, .6);
$input-color:                       $dark;

$footer-height:                     6rem;

:root {
  // --navy: 0, 13, 84;
  // --violet: 87, 54, 255;
  // --cyan: 73, 216, 255;
  // --mint: 54, 255, 187;
  // --lilac: 173, 186, 255;

  --navy: #000d54;
  // --violet: #5736ff;
  // --violet: #4f7fff;
  --violet: #3C67DD;
  // --cyan: #49d8ff;
  --cyan: #45e2ea;
  --mint: #36ffbb;
  --lilac: #adbaff;
  --red: #ff365b;
  --orange: #fd7825;
  --lemon: #f2ff36;
  --info: #dee2e6;
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

// General Page Formatting
* {
  letter-spacing: 0.04em;
  font-family: $font-family-sans-serif;
  scroll-behavior: smooth;
}

:focus {
  outline: color.scale($primary, $alpha: -40%) auto 1px;
}

legend, .nav-link, button:not(.list-group-item, .btn-link), th > div, .h1, .h2, .h3, .h4, .h5, .h6, .modal-title {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: .5em;
}

th > div {
  font-weight: 500;
}

.current-page {
  font-weight: 600;
}

html {
  position: relative;
  min-height: 100vh;
}

body {
  overscroll-behavior-y: none;
}

text {
  font-family: $font-family-monospace;
  font-size: 0.5rem;
}

.seq {
  font-family: $font-family-monospace;
}

// Positioning
.float {
  position: fixed;
  z-index: 100;
}

.top {
  top: 12.5%;
}

.bottom {
  bottom: 12.5%;
}

.right {
  right: 12.5%;
}

// Fade Transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.hide {
  opacity: 0 !important;
}

// Header/Body/Footer Formatting
.header, .footer {;
  background-color: rgba(lighten($info, 10%), .95);
}

.header {
  font-size: min(0.7em, 3vw);
}

.footer {
  font-size: min(0.65em, 3vw);
}

.navbar-collapse .nav-item {
  height: 4em;
  line-height: 4em;
}

.navbar-collapse .nav-item a
{
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5em; /* <-- adjust this */
  padding: 0 0;
}

.navbar-brand {
  font-weight: 700;
  font-size: min(1.6rem, 6vw);
}

.navbar-light .navbar-toggler {
  border-style: none;
}

.scroll-shade {
  box-shadow: 0 6px 10px -10px rgba(0,0,0,0.2);
}

#body {
  padding-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footer-height;
}

.footer .logo {
  font-size: 7em;
}

// Part Specific - Buttons
button, input[type=button] {
  border-width: 0;
  transition: 0.3s;
}

button:not(.list-group-item):not(.taxon) {
  font-weight: 600;
}

.btn {
  font-size: inherit;
}

.btn .b-icon.bi {
  font-size: 100%;
  vertical-align: -10%;
}

.btn-group {
  text-align: center;
  display: block;
}

.btn-xl {
  padding: 1rem 2.5rem;
  font-size: 1.75rem;
  line-height: 1.75;
  border-radius: 0.3rem;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-radius: 0.25rem;
  margin: 5px 4px 5px 4px;
  min-width: 12rem;
}

.btn-link {
  text-align: left;
}

.btn-link:disabled, .btn-link.disabled {
  color: $body-color;
  opacity: 0.85;
}

.svg-btn {
  fill: transparent;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  stroke: $secondary;
  stroke-width: 0.8px;
}

.svg-btn:hover {
  fill: $secondary;
}

.svg-btn + text {
  fill: $secondary;
  transition: 0.15s ease-in-out;
  pointer-events: none;
  font-family: Montserrat;
  font-size: 0.6rem;
  font-weight: 600;
}

.svg-btn:hover + text {
  fill: white;
}

.add, .delete {
  min-width: 100%;
}

.delete-col {
  padding-right: 0px !important;
  padding-left: 10px !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $secondary;
  background-color: $secondary;
}

.nav-pills .nav-link.active {
  background-color: $secondary
}

// Part Specific - Modals
.modal-content {
  border: 0px;
}

.modal-footer {
  border-top: 0px;
}

.modal-body.bg-success, .modal-footer.bg-success {
  background-color: color.scale($success, $lightness: 93%, $saturation: -46%) !important;
}

.modal-header.bg-success {
  background-color: color.scale($success, $lightness: 91%, $saturation: -45%) !important;
}

.modal-body.bg-danger, .modal-footer.bg-danger {
  background-color: color.scale($danger, $lightness: 93%, $saturation: -46%) !important;
}

.modal-header.bg-danger {
  background-color: color.scale($danger, $lightness: 91%, $saturation: -45%) !important;
}

.modal-body.bg-dark, .modal-footer.bg-dark {
  background-color: color.scale($dark, $lightness: 93%, $saturation: -46%) !important;
}

.modal-header.bg-dark {
  background-color: color.scale($dark, $lightness: 91%, $saturation: -45%) !important;
}

// Part Specific - Misc
.logo {
  height: 0.85em;
  line-height: 1;
  padding-bottom: 0.15em;
  margin-left: -0.05em
}

.not-collapsed .arrow {
  transform: rotate(180deg);
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

.f-1 {
  font-size: 2rem;
}

.f-2, {
  font-size: 1.4rem;
}

.family {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.f-3, .family {
  font-size: 1.2rem;
}

.f-4, .genus  {
  font-size: 1rem;
}

.f-5, .species{
  font-size: 0.9rem;
}

.f-6, .subspecies {
  font-size: 0.8rem;
}

.f-7 {
  font-size: 0.7rem;
}

.selected {
  background-color: rgba(lighten($success, 60%), 0.5);
}


.selectable, .arrow {
  transition: 0.15s;
  line-height: 1.3;
}


.scrolling-sticky {
  position: sticky;
  z-index: 100;
}

.taxon:hover, .taxon:focus {
  // color: $body-color;
  text-decoration: none;
}

.disclaimer {
  font-size: 0.75em;
  font-style: italic;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #f3f3f3;
  color: #35495e;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #f3f3f3;
  content: attr(data-deselect);
  color: #35495e;
}

// GitHub Corner (https://tholman.com/github-corners/)
.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,100% {
    transform:rotate(0)
  }
  20%,60% {
    transform:rotate(-25deg)
  }
  40%,80% {
    transform:rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm{
    animation:none
  }
  .github-corner .octo-arm{
    animation:octocat-wave 560ms ease-in-out
  }
}
