@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --navy: 0, 13, 84;
  --violet: 87, 54, 255;
  --cyan: 73, 216, 255;
  --mint: 54, 255, 187;
  --lilac: 173, 186, 255;

/*  --navy: #000d54;
  --violet: #5736ff;
  --cyan: #49d8ff;
  --mint: #36ffbb;
  --lilac: #adbaff;
*/
}

.header {
  text-align: center;
  align-items: center;
  margin: auto;
}

.menu {
  font-size: min(1.2em, 4vw);
  padding-left: 4vw;
  padding-right: 4vw;
  display: inline;
  vertical-align: middle;
}

.title {
  padding-left: 4vw;
  padding-right: 4vw;
  font-size: min(4em, 13vw);
  display: inline;
  vertical-align: middle;
  font-family: Rubik, Helvetica, Arial, sans-serif;
}

button, input[type=button] {
  border-width: 0;
  transition: 0.3s;
}

.header a:hover, .header a:active {
  transition: 0.3s;
}

.logo {
  height: 0.85em;
  padding-bottom: 0.15em;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 970px) {
  /* For mobile phones: */
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .menu {
    text-align: right;
  }
  .header {
    text-align: left;
    display: flex;
  }
  .title {
    flex: 1.5;
    padding-right: 0;
  }
  .menuset {
    flex: 1;
  }
}
