{% extends 'base.html' %}

{% block details %}
<title>ADAPT</title>
<meta property=og:title content="ADAPT">
<meta property="og:url" content="https://adapt.run">
<meta property="og:description" content="Design nucleic acid-based viral diagnostics with maximum sensitivity using ADAPT.">
{% endblock %}

{% block content %}

	{% load render_bundle from webpack_loader %}

    <div id="app">
      <app></app>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'about' %}

{% endblock %}
