{% extends 'base.html' %}

{% block title %}Assays{% endblock %}
{% block description %}
<meta name="description" content="Pre-designed Cas13a assays for the most common vertebrate infecting viruses, created using ADAPT.">
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
{% endblock %}


{% block content %}

	{% load render_bundle from webpack_loader %}

    <div id="app">
      <app></app>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'designs' %}

{% endblock %}
