{% extends 'base.html' %}

{% block details %}
<title>ADAPT - Run</title>
<meta property=og:title content="ADAPT - Run">
<meta property="og:url" content="https://adapt.run/run/">
<meta property="og:description" content="Run ADAPT on your own data or on a viral taxon.">
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
{% endblock %}


{% block content %}

    {% load render_bundle from webpack_loader %}

    <div id="app">
      <app></app>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'runadapt' %}

{% endblock %}
